@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-montserrat 
}

.card {
    @apply rounded-3xl min-h-fit p-8 flex justify-around 
    bg-white/10 border border-white/15 
}

.icon {
    @apply mask mask-hexagon-2 w-12  
}

h1 {
    @apply font-semibold text-2xl 
}

.project {
    @apply hover:underline
}


/* Animation */
@keyframes spiral {
    0% {
        transform: translateY(0px) scale(1, 1);
    }
    
    25% {
        transform: translateY(-50px) scale(0.35, 0.35);
    }
    
    35% {
        transform: translateY(-35px) scale(0, 0);        
    }

    50% {
        transform: translateY(0px) scale(0, 0);
    }

    65% {
        transform: translateY(35px) scale(0, 0);
    }

    75% {
        transform: translateY(50px) scale(0.35, 0.35);
    }

    100% {
        transform: translateY(0px) scale(1, 1);
    }
}

.spiralChar {
    animation: spiral 5s 1s infinite linear normal;
}

#spiral .spiralChar:nth-child(1) {
    animation-delay: 1.2s;
}
#spiral .spiralChar:nth-child(2) {
    animation-delay: 1.4s;
}
#spiral .spiralChar:nth-child(3) {
    animation-delay: 1.6s;
}
#spiral .spiralChar:nth-child(4) {
    animation-delay: 1.8s;
}
#spiral .spiralChar:nth-child(5) {
    animation-delay: 2s;
}
#spiral .spiralChar:nth-child(6) {
    animation-delay: 2.2s;
}
#spiral .spiralChar:nth-child(7) {
    animation-delay: 2.4s;
}
#spiral .spiralChar:nth-child(8) {
    animation-delay: 2.6s;
}
#spiral .spiralChar:nth-child(9) {
    animation-delay: 2.8s;
}
#spiral .spiralChar:nth-child(10) {
    animation-delay: 3s;
}
#spiral .spiralChar:nth-child(11) {
    animation-delay: 3.2s;
}

